#principal{
    display: flex;
    
    align-items: center;
    width: '100%';
    flex-direction: column;
    height: 100vh;

}
form{
    width: 700px;
}
form #estado{
    width: 88%;
}
form #cidade{
    width: 88%;
}
.form-group{
    margin-top: 10px;
}
#alert{
    display: none;
    justify-content: center;
    align-items: center;
    
}