@keyframes animacaoDaBarraShow{
    from{
        margin-left: -200px;
    }
    to{
        margin-left: 0px;
    }
}
@keyframes animacaoDaBarraHidden{
    from{
        margin-left: 0px;
    }
    to{
        margin-left: -200px;
    }
}
@keyframes animacaoDaBarraShowButton{
    from{
        margin-left: 0px;
    }
    to{
        margin-left: 180px;
    }
}
@keyframes animacaoDaBarraHiddenButton{
    from{
        margin-left: 180px;
    }
    to{
        margin-left: 0px;
    }
}
#principal{
    display: flex;
    flex-direction: column; 
    height: 84vh;
}
#contain{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
#slideBar{
    width: 200px;
    background-color: rgba(45, 130, 92,0.4);
    /* display: none; */
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    margin-top: 115px;
    margin-left: -200px;
    /* animation-name: animacaoDaBarraShow;
    animation-duration: 1s; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#showSlideBar{
    margin-top: 115px;
    position: absolute;
    left: 0;
    top:0;
    width: 20px;
    height: 20px;
    /* background-color: aqua; */
    
}
.section-title {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title h2{
    width: 70vh;
}
tr{
    text-align: center;
}
#logoImgMenuLateral{
    height: 20%;
    width: 100%;
}
#showSlideBar a {
    color: rgba(45, 130, 92);;
}
#btnMod{
    background-color: #258262;
}
#btnDel{
    background-color: #CFC70A;
    border: none;
}