.compContainers{
    min-width:  354px;
     background-color: aqua !important;
}
span{
    color: #020426;
}
.containerchart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
