th,td{
    text-align: center;
}
#principal{
    min-height: 84vh;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#principal2{
    height: 84vh;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#row2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#charts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}